In [2]:
import pandas as pd
import numpy as np

In [3]:
crop=pd.read_csv('crop.csv')

location=pd.read_csv('location.csv')

pest=pd.read_csv('pest.csv')

sensor=pd.read_csv('sensor.csv')

soil=pd.read_csv('soil.csv')

weather=pd.read_csv('weather.csv')

/var/folders/43/4fpb2szs56d8v5kf33sc9w500000gn/T/ipykernel_36081/2928007004.py:3: DtypeWarning: Columns (0,1,5) have mixed types. Specify dtype option on import or set low_memory=False.
  location=pd.read_csv('location.csv')
/var/folders/43/4fpb2szs56d8v5kf33sc9w500000gn/T/ipykernel_36081/2928007004.py:11: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  weather=pd.read_csv('weather.csv')

# Working on Crop Table

In [4]:
crop.dtypes

TIMESTAMP        object
CROP_TYPE        object
CROP_YIELD      float64
GROWTH_STAGE     object
PEST_ISSUE       object
dtype: object

In [6]:
#Fixing timestamp

crop['TIMESTAMP']=pd.to_datetime(crop['TIMESTAMP'])

In [7]:
#fixing mistyped values

In [8]:
crop.head()

            TIMESTAMP CROP_TYPE  CROP_YIELD GROWTH_STAGE    PEST_ISSUE
0 2023-06-24 14:37:00    Tomato      111.23     Fruiting        Fungus
1 2023-01-14 00:57:00   Soybean      589.51     Fruiting    Whiteflies
2 2023-03-14 14:40:00     Wheat      986.35   Vegatative        Fungus
3 2023-05-28 18:17:00    Barley      237.98     Fruiting  Caterpillars
4 2022-12-31 10:39:00    Tomato      801.23     Fruiting    Whiteflies

In [9]:
#focus: crop type
crop['CROP_TYPE'].unique()

array(['Tomato', 'Soybean', 'Wheat', 'Barley', 'Rice', 'Corn',
       'Sugarcane', 'Carrot', 'Wheaat', 'Potato', 'Cotton', 'Cron', nan],
      dtype=object)

In [10]:
null_count_crop_type= crop['CROP_TYPE'].isna().sum()

In [11]:
print(null_count_crop_type)

5

In [12]:
#5 is small so drop
print(crop.shape)
crop = crop.dropna(subset=['CROP_TYPE'])
print(crop.shape)

(2097145, 5)
(2097140, 5)

In [13]:
#then lets clean data with typos (Wheaat,Cron,)

crop['CROP_TYPE'] = crop['CROP_TYPE'].replace('Wheaat', 'Wheat')
crop['CROP_TYPE'] = crop['CROP_TYPE'].replace('Cron', 'Corn')

In [14]:
crop['CROP_TYPE'].unique()

array(['Tomato', 'Soybean', 'Wheat', 'Barley', 'Rice', 'Corn',
       'Sugarcane', 'Carrot', 'Potato', 'Cotton'], dtype=object)

In [15]:
#lets fix crop yield
crop['Average'] = crop.groupby('CROP_TYPE')['CROP_YIELD'].transform('mean')
crop['CROP_YIELD'].fillna(crop['Average'], inplace=True)
crop.drop(columns=['Average'], inplace=True)

In [16]:
crop['GROWTH_STAGE'].unique()

array(['Fruiting', 'Vegatative', 'Vegetative', 'Seedling', 'Flowering',
       'Harvesting', nan, 'Flowerring'], dtype=object)

In [17]:
#fix growth stage

crop['GROWTH_STAGE'].fillna('Seedling', inplace=True)
crop['GROWTH_STAGE'].unique()

array(['Fruiting', 'Vegatative', 'Vegetative', 'Seedling', 'Flowering',
       'Harvesting', 'Flowerring'], dtype=object)

In [18]:
#fix typos

crop['GROWTH_STAGE'] = crop['GROWTH_STAGE'].replace('Vegatative', 'Vegetative')
crop['GROWTH_STAGE'] = crop['GROWTH_STAGE'].replace('Flowerring', 'Flowering')

crop['GROWTH_STAGE'].unique()

array(['Fruiting', 'Vegetative', 'Seedling', 'Flowering', 'Harvesting'],
      dtype=object)

In [19]:
crop['PEST_ISSUE'].unique()

array(['Fungus', 'Whiteflies', 'Caterpillars', 'Mites', nan, 'Aphids',
       'No Pest Issue', 'Aphidds'], dtype=object)

In [20]:
#fix pest issue

crop['PEST_ISSUE'].fillna('No Pest Issue', inplace=True)
crop['PEST_ISSUE'].unique()

array(['Fungus', 'Whiteflies', 'Caterpillars', 'Mites', 'No Pest Issue',
       'Aphids', 'Aphidds'], dtype=object)

In [21]:
crop['PEST_ISSUE'] = crop['PEST_ISSUE'].replace('Aphidds', 'Aphids')
crop['PEST_ISSUE'].unique()

array(['Fungus', 'Whiteflies', 'Caterpillars', 'Mites', 'No Pest Issue',
       'Aphids'], dtype=object)

# working on location

In [22]:
#drop all nan value
location=pd.read_csv('location.csv')

/var/folders/43/4fpb2szs56d8v5kf33sc9w500000gn/T/ipykernel_36081/2634862259.py:2: DtypeWarning: Columns (0,1,5) have mixed types. Specify dtype option on import or set low_memory=False.
  location=pd.read_csv('location.csv')

In [23]:
location.dropna(inplace=True)

In [24]:
location.head()

,SENSOR_ID,LOCATION_NAME,LATITUDE,LONGITUDE,ELEVATION,REGION
0,**H_S614_##VBYAI**,Location 537069,-20.290687,-76.085154,744.73,East
1,**A_S534_##DCTFE**,Location 537070,7.836472,-17.116254,1601.59,East
2,**X_S500_##VQDDJ**,Location 537071,-55.465881,-121.322969,2307.28,South
3,**Z_S721_##NBMET**,Location 537072,7.840443,155.518523,4708.69,East
4,**E_S277_##SCCAZ**,Location 537073,58.713600,-30.183445,4315.49,East

In [25]:
location['REGION'].unique()

def replace(value):
    return value[4:8]

location['SENSOR_ID'] = location['SENSOR_ID'].apply(replace)

# working on pest

In [26]:
pest.head()

          TIMESTAMP PEST_TYPE                 PEST_DESCRIPTION PEST_SEVERITY
0   6/24/2023 14:37    Fungus                              NaN          High
1    1/14/2023 0:57     Slugs  Slugs :  high infestation risk.           Low
2   3/14/2023 14:40     Other      Other :  presence detected.           Low
3   5/28/2023 18:17     Slugs      Slugs :  presence detected.          High
4  12/31/2022 10:39    Fungus     Fungus :  infestation found.           Low

In [27]:
pest.dtypes

TIMESTAMP           object
PEST_TYPE           object
PEST_DESCRIPTION    object
PEST_SEVERITY       object
dtype: object

In [28]:
#fixing time stamps

pest['TIMESTAMP']=pd.to_datetime(pest['TIMESTAMP'])

In [29]:
pest['PEST_TYPE'].unique()

array(['Fungus', 'Slugs', 'Other', 'Mites', 'Whiteflies', 'Caterpillars',
       'Slogs', 'Aphiods', 'Aphids'], dtype=object)

In [30]:
#fixing spelling error

pest['PEST_TYPE'] = pest['PEST_TYPE'].replace('Aphiods', 'Aphids')
pest['PEST_TYPE'] = pest['PEST_TYPE'].replace('Slogs', 'Slugs')
pest['PEST_TYPE'].unique()

array(['Fungus', 'Slugs', 'Other', 'Mites', 'Whiteflies', 'Caterpillars',
       'Aphids'], dtype=object)

In [31]:
#fixing description

mode_values = pest.groupby('PEST_TYPE')['PEST_DESCRIPTION'].transform(lambda x: x.mode().iloc[0])
pest['PEST_DESCRIPTION'].fillna(mode_values, inplace=True)


mode_values2 = pest.groupby('PEST_TYPE')['PEST_SEVERITY'].transform(lambda x: x.mode().iloc[0])
pest['PEST_SEVERITY'].fillna(mode_values2, inplace=True)

In [32]:
pest['PEST_DESCRIPTION'].unique()

array(['Fungus :  presence detected.', 'Slugs :  high infestation risk.',
       'Other :  presence detected.', 'Slugs :  presence detected.',
       'Fungus :  infestation found.', 'Mites :  infestation detected.',
       'Mites :  high infestation risk.',
       'Whiteflies :  presence detected.',
       'Fungus :  infestation detected.', 'Slugs :  infestation deteced.',
       'Caterpillars :  high infestation risk.',
       'Fungus :  high infestation risk.',
       'Whiteflies :  infestation detected.',
       'Other :  infestation detected.',
       'Caterpillars :  infestation found.',
       'Mites :  presence detected.', 'Other :  infestation found.',
       'Slugs :  infestation found.', 'Slogs :  presence detected.',
       'Aphiods :  high infestation risk.',
       'Other :  high infestation risk.',
       'Whiteflies :  infestation found.', 'Aphids :  infestation found.',
       'Mites :  infestation found.', 'Aphids :  presence detected.',
       'Caterpillars :  infestation detected.',
       'Slogs :  infestation found.',
       'Caterpillars :  presence detected.',
       'Whiteflies :  high infestation risk.',
       'Aphiods :  infestation detected.',
       'Aphiods :  presence detected.',
       'Aphiods :  high infestation riskkk.',
       'Slugs :  infestation detected.',
       'Fungus :  high infestation riskkk.',
       'Aphids :  high infestation risk.',
       'Slugs :  high infestation riskkk.',
       'Slogs :  high infestation risk.',
       'Aphids :  infestation detected.',
       'Aphids :  high infestation riskkk.',
       'Other :  high infestation riskkk.',
       'Other :  infestation deteced.',
       'Mites :  high infestation riskkk.',
       'Caterpillars :  high infestation riskkk.',
       'Slogs :  high infestation riskkk.',
       'Slogs :  infestation detected.', 'Fungus :  infestation deteced.',
       'Mites :  infestation deteced.', 'Aphiods :  infestation found.',
       'Caterpillars :  infestation deteced.',
       'Whiteflies :  infestation deteced.',
       'Whiteflies :  high infestation riskkk.',
       'Slogs :  infestation deteced.', 'Aphids :  infestation deteced.',
       'Aphiods :  infestation deteced.'], dtype=object)

In [33]:
pest['PEST_SEVERITY'].unique()

array(['High', 'Low', 'Medium', 'Hihg'], dtype=object)

In [34]:
#typo found in description

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Aphiods :  high infestation risk.', 'Aphids :  high infestation risk.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Aphiods :  presence detected.', 'Aphids :  presence detected.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Aphiods :  infestation detected', 'Aphids :  infestation detected')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Aphiods :  high infestation riskkk.', 'Aphiods :  high infestation risk.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Fungus :  high infestation riskkk.', 'Fungus :  high infestation risk.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Slugs :  high infestation riskkk.', 'Slugs :  high infestation risk.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Slogs :  high infestation risk.', 'Slugs :  high infestation risk.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Aphids :  high infestation riskkk.', 'Aphids :  high infestation risk.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Other :  high infestation riskkk.', 'Other :  high infestation risk.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Other :  infestation deteced.', 'Other :  infestation detected.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Mites :  high infestation riskkk.', 'Mites :  high infestation risk.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Caterpillars :  high infestation riskkk.', 'Caterpillars :  high infestation risk.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Whiteflies :  infestation deteced.', 'Whiteflies :  infestation detected.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Whiteflies :  high infestation riskkk.', 'Whiteflies :  high infestation risk.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Slogs :  infestation deteced.', 'Slugs :  infestation detected.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Aphiods :  infestation deteced.', 'Aphiods :  infestation detected.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Aphids :  infestation deteced.', 'Aphids :  infestation detected.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Aphiods :  infestation found.', 'Aphids :  infestation found.')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Fungus :  infestation deteced.', 'Fungus :  infestation detected.')

pest['PEST_DESCRIPTION'].unique()

array(['Fungus :  presence detected.', 'Slugs :  high infestation risk.',
       'Other :  presence detected.', 'Slugs :  presence detected.',
       'Fungus :  infestation found.', 'Mites :  infestation detected.',
       'Mites :  high infestation risk.',
       'Whiteflies :  presence detected.',
       'Fungus :  infestation detected.', 'Slugs :  infestation deteced.',
       'Caterpillars :  high infestation risk.',
       'Fungus :  high infestation risk.',
       'Whiteflies :  infestation detected.',
       'Other :  infestation detected.',
       'Caterpillars :  infestation found.',
       'Mites :  presence detected.', 'Other :  infestation found.',
       'Slugs :  infestation found.', 'Slogs :  presence detected.',
       'Aphids :  high infestation risk.',
       'Other :  high infestation risk.',
       'Whiteflies :  infestation found.', 'Aphids :  infestation found.',
       'Mites :  infestation found.', 'Aphids :  presence detected.',
       'Caterpillars :  infestation detected.',
       'Slogs :  infestation found.',
       'Caterpillars :  presence detected.',
       'Whiteflies :  high infestation risk.',
       'Aphiods :  infestation detected.',
       'Aphiods :  high infestation risk.',
       'Slugs :  infestation detected.',
       'Aphids :  infestation detected.',
       'Slogs :  high infestation riskkk.',
       'Slogs :  infestation detected.', 'Mites :  infestation deteced.',
       'Caterpillars :  infestation deteced.'], dtype=object)

In [35]:
pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Slugs :  infestation deteced.', 'Slugs :  infestation detected. ')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Aphiods :  infestation detected.', 'Aphids :  infestation detected. ')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Aphiods :  high infestation risk.', 'Aphids :  high infestation risk. ')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Slogs :  high infestation riskkk.', 'Slugs :  high infestation risk. ')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Slogs :  infestation detected.', 'Slugs :  infestation detected. ')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Mites :  infestation deteced.', 'Mites :  infestation detected. ')

pest['PEST_DESCRIPTION'] = pest['PEST_DESCRIPTION'].replace('Caterpillars :  infestation deteced.', 'Caterpillars :  infestation detected. ')

pest['PEST_DESCRIPTION'].unique()

array(['Fungus :  presence detected.', 'Slugs :  high infestation risk.',
       'Other :  presence detected.', 'Slugs :  presence detected.',
       'Fungus :  infestation found.', 'Mites :  infestation detected.',
       'Mites :  high infestation risk.',
       'Whiteflies :  presence detected.',
       'Fungus :  infestation detected.',
       'Slugs :  infestation detected. ',
       'Caterpillars :  high infestation risk.',
       'Fungus :  high infestation risk.',
       'Whiteflies :  infestation detected.',
       'Other :  infestation detected.',
       'Caterpillars :  infestation found.',
       'Mites :  presence detected.', 'Other :  infestation found.',
       'Slugs :  infestation found.', 'Slogs :  presence detected.',
       'Aphids :  high infestation risk.',
       'Other :  high infestation risk.',
       'Whiteflies :  infestation found.', 'Aphids :  infestation found.',
       'Mites :  infestation found.', 'Aphids :  presence detected.',
       'Caterpillars :  infestation detected.',
       'Slogs :  infestation found.',
       'Caterpillars :  presence detected.',
       'Whiteflies :  high infestation risk.',
       'Aphids :  infestation detected. ',
       'Aphids :  high infestation risk. ',
       'Slugs :  infestation detected.',
       'Aphids :  infestation detected.',
       'Slugs :  high infestation risk. ',
       'Mites :  infestation detected. ',
       'Caterpillars :  infestation detected. '], dtype=object)

In [36]:
pest['PEST_SEVERITY'].unique()

array(['High', 'Low', 'Medium', 'Hihg'], dtype=object)

In [37]:
pest['PEST_SEVERITY'] = pest['PEST_SEVERITY'].replace('Hihg', 'High')
pest['PEST_SEVERITY'].unique()

array(['High', 'Low', 'Medium'], dtype=object)

# working on sensor

In [38]:
sensor.head()

,SENSOR_ID,TIMESTAMP,TEMPERATURE,HUMIDITY,SOIL_MOISTURE,LIGHT_INTENSITY,BATTERY_LEVEL
0,"""S523""","""2023-08-22 13:39:14""",26.1,50.3,40.4,7988.0,92.4
1,"""S189""","""2023-01-11 18:18:36""",28.2,48.1,25.2,6640.0,87.3
2,"""S662""","""2023-02-26 20:56:57""",30.4,45.9,31.5,4334.0,99.3
3,"""S726""","""2023-07-21 17:24:46""",29.6,59.7,20.6,3715.0,77.2
4,"""S102""","""2023-02-08 01:52:58""",30.5,43.2,41.4,NaN,95.9

In [39]:
sensor['SENSOR_ID'] = sensor['SENSOR_ID'].str.strip('"')

In [40]:
sensor.head()

,SENSOR_ID,TIMESTAMP,TEMPERATURE,HUMIDITY,SOIL_MOISTURE,LIGHT_INTENSITY,BATTERY_LEVEL
0,S523,"""2023-08-22 13:39:14""",26.1,50.3,40.4,7988.0,92.4
1,S189,"""2023-01-11 18:18:36""",28.2,48.1,25.2,6640.0,87.3
2,S662,"""2023-02-26 20:56:57""",30.4,45.9,31.5,4334.0,99.3
3,S726,"""2023-07-21 17:24:46""",29.6,59.7,20.6,3715.0,77.2
4,S102,"""2023-02-08 01:52:58""",30.5,43.2,41.4,NaN,95.9

In [41]:
sensor['TIMESTAMP'] = sensor['TIMESTAMP'].str.strip('"')

sensor['TIMESTAMP']=pd.to_datetime(sensor['TIMESTAMP'])

In [42]:
sensor.head()

,SENSOR_ID,TIMESTAMP,TEMPERATURE,HUMIDITY,SOIL_MOISTURE,LIGHT_INTENSITY,BATTERY_LEVEL
0,S523,2023-08-22 13:39:14,26.1,50.3,40.4,7988.0,92.4
1,S189,2023-01-11 18:18:36,28.2,48.1,25.2,6640.0,87.3
2,S662,2023-02-26 20:56:57,30.4,45.9,31.5,4334.0,99.3
3,S726,2023-07-21 17:24:46,29.6,59.7,20.6,3715.0,77.2
4,S102,2023-02-08 01:52:58,30.5,43.2,41.4,NaN,95.9

In [43]:
sensor['Average'] = sensor.groupby('SENSOR_ID')['TEMPERATURE'].transform('mean')
sensor['TEMPERATURE'].fillna(sensor['Average'], inplace=True)
sensor.drop(columns=['Average'], inplace=True)

sensor['Average'] = sensor.groupby('SENSOR_ID')['HUMIDITY'].transform('mean')
sensor['HUMIDITY'].fillna(sensor['Average'], inplace=True)
sensor.drop(columns=['Average'], inplace=True)

sensor['Average'] = sensor.groupby('SENSOR_ID')['SOIL_MOISTURE'].transform('mean')
sensor['SOIL_MOISTURE'].fillna(sensor['Average'], inplace=True)
sensor.drop(columns=['Average'], inplace=True)

sensor['Average'] = sensor.groupby('SENSOR_ID')['LIGHT_INTENSITY'].transform('mean')
sensor['LIGHT_INTENSITY'].fillna(sensor['Average'], inplace=True)
sensor.drop(columns=['Average'], inplace=True)

sensor['Average'] = sensor.groupby('SENSOR_ID')['BATTERY_LEVEL'].transform('mean')
sensor['BATTERY_LEVEL'].fillna(sensor['Average'], inplace=True)
sensor.drop(columns=['Average'], inplace=True)

In [44]:
sensor.head()

,SENSOR_ID,TIMESTAMP,TEMPERATURE,HUMIDITY,SOIL_MOISTURE,LIGHT_INTENSITY,BATTERY_LEVEL
0,S523,2023-08-22 13:39:14,26.1,50.3,40.4,7988.000000,92.4
1,S189,2023-01-11 18:18:36,28.2,48.1,25.2,6640.000000,87.3
2,S662,2023-02-26 20:56:57,30.4,45.9,31.5,4334.000000,99.3
3,S726,2023-07-21 17:24:46,29.6,59.7,20.6,3715.000000,77.2
4,S102,2023-02-08 01:52:58,30.5,43.2,41.4,5965.492435,95.9

# working on soil

In [45]:
soil.head()

,TIMESTAMP,SOIL_COMP,SOIL_MOISTURE,SOIL_PH,NITROGEN_LEVEL,PHOSPHORUS_LEVEL,ORGANIC_MATTER
0,6/24/2023 14:37,31.86,28.5,5.76,13.91,3.80,5.17
1,1/14/2023 0:57,59.36,29.2,7.84,16.58,4.00,1.70
2,3/14/2023 14:40,13.26,32.4,4.39,7.10,8.93,3.46
3,5/28/2023 18:17,23.45,23.4,4.25,8.63,3.13,5.26
4,12/31/2022 10:39,46.32,58.3,5.76,NaN,NaN,8.35

In [46]:
soil['TIMESTAMP']=pd.to_datetime(soil['TIMESTAMP'])

In [47]:
soil_mean=soil.mean()

soil.fillna(soil_mean, inplace=True)

soil.head()
chunk_size = 10000

/var/folders/43/4fpb2szs56d8v5kf33sc9w500000gn/T/ipykernel_36081/2532271962.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  soil_mean=soil.mean()

In [48]:
# chunk_size = 500000

# chunks = [crop[i:i + chunk_size] for i in range(0, len(crop), chunk_size)]

# # Write each chunk to a separate CSV file
# for i, chunk in enumerate(chunks):
#     chunk.to_csv(f'crop_clean_{i}.csv', index=False)

In [49]:
# chunk_size = 500000

# chunks = [location[i:i + chunk_size] for i in range(0, len(location), chunk_size)]

# # Write each chunk to a separate CSV file
# for i, chunk in enumerate(chunks):
#     chunk.to_csv(f'location_clean_{i}.csv', index=False)

In [50]:
# chunk_size = 500000

# chunks = [pest[i:i + chunk_size] for i in range(0, len(pest), chunk_size)]

# # Write each chunk to a separate CSV file
# for i, chunk in enumerate(chunks):
#     chunk.to_csv(f'pest_clean_{i}.csv', index=False)

In [51]:
# chunk_size = 500000

# chunks = [sensor[i:i + chunk_size] for i in range(0, len(sensor), chunk_size)]

# # Write each chunk to a separate CSV file
# for i, chunk in enumerate(chunks):
#     chunk.to_csv(f'sensor_clean_{i}.csv', index=False)

In [52]:
# chunk_size = 500000

# chunks = [soil[i:i + chunk_size] for i in range(0, len(soil), chunk_size)]

# # Write each chunk to a separate CSV file
# for i, chunk in enumerate(chunks):
#     chunk.to_csv(f'soil_clean_{i}.csv', index=False)

In [53]:
# chunk_size = 500000

# chunks = [weather[i:i + chunk_size] for i in range(0, len(weather), chunk_size)]

# # Write each chunk to a separate CSV file
# for i, chunk in enumerate(chunks):
#     chunk.to_csv(f'weather_clean_{i}.csv', index=False)

In [54]:
# crop.to_csv('crop_clean.csv')

# location.to_csv('location_clean.csv')

# pest.to_csv('pest_clean.csv')

# sensor.to_csv('sensor_clean.csv')

# soil.to_csv('soil_clean.csv')

# weather.to_csv('weather_clean.csv')

In [55]:
weather.head()

          TIMESTAMP WEATHER_CONDITION  WIND_SPEED  PRECIPITATION
0   6/24/2023 14:37               Fog        22.9           8.87
1    1/14/2023 0:57             Clear         8.8           7.63
2   3/14/2023 14:40              Mist        25.6            NaN
3   5/28/2023 18:17     Partly Cloudy        18.7           6.59
4  12/31/2022 10:39               NaN         0.3           3.27

In [56]:
weather['TIMESTAMP']=pd.to_datetime(weather['TIMESTAMP'])

In [57]:
mode_value = weather['WEATHER_CONDITION'].mode()[0]
weather['WEATHER_CONDITION'].fillna(mode_value, inplace=True)

In [58]:
weather.tail()

                  TIMESTAMP WEATHER_CONDITION  WIND_SPEED  PRECIPITATION
2608635 2023-08-28 06:05:00               Fog        20.5           8.53
2608636 2023-06-01 16:14:00              Rain        13.3           0.52
2608637 2023-07-23 19:47:00             Clear         5.6            NaN
2608638 2022-11-10 08:59:00              Rain        21.4           1.55
2608639 2023-02-21 21:50:00      Thunderstorm        23.3            NaN

In [59]:
weather['Average'] = weather.groupby('WEATHER_CONDITION')['WIND_SPEED'].transform('mean')
weather['WIND_SPEED'].fillna(weather['Average'], inplace=True)
weather.drop(columns=['Average'], inplace=True)


weather['Average'] = weather.groupby('WEATHER_CONDITION')['PRECIPITATION'].transform('mean')
weather['PRECIPITATION'].fillna(weather['Average'], inplace=True)
weather.drop(columns=['Average'], inplace=True)

In [60]:
weather.tail()

                  TIMESTAMP WEATHER_CONDITION  WIND_SPEED  PRECIPITATION
2608635 2023-08-28 06:05:00               Fog        20.5       8.530000
2608636 2023-06-01 16:14:00              Rain        13.3       0.520000
2608637 2023-07-23 19:47:00             Clear         5.6       4.989703
2608638 2022-11-10 08:59:00              Rain        21.4       1.550000
2608639 2023-02-21 21:50:00      Thunderstorm        23.3       4.999845

In [61]:
weather['WEATHER_CONDITION'].unique()

array(['Fog', 'Clear', 'Mist', 'Partly Cloudy', 'Thunderstorm', 'Snow',
       'Cloudy', 'Rain', 'Claar', 'Party Cloudy'], dtype=object)

In [62]:
weather['WEATHER_CONDITION'] = weather['WEATHER_CONDITION'].replace('Claar', 'Clear')

weather['WEATHER_CONDITION'] = weather['WEATHER_CONDITION'].replace('Party Cloudy', 'Partly Cloudy')

In [63]:
# chunk_size = 500000

# chunks = [weather[i:i + chunk_size] for i in range(0, len(weather), chunk_size)]

# # Write each chunk to a separate CSV file
# for i, chunk in enumerate(chunks):
#     chunk.to_csv(f'weather_clean_{i}.csv', index=False)

In [64]:
location.head()

  SENSOR_ID    LOCATION_NAME   LATITUDE   LONGITUDE  ELEVATION REGION
0      S614  Location 537069 -20.290687  -76.085154     744.73   East
1      S534  Location 537070   7.836472  -17.116254    1601.59   East
2      S500  Location 537071 -55.465881 -121.322969    2307.28  South
3      S721  Location 537072   7.840443  155.518523    4708.69   East
4      S277  Location 537073  58.713600  -30.183445    4315.49   East

In [65]:
location['SENSOR_ID'].nunique()

999

In [66]:
crop.head()

            TIMESTAMP CROP_TYPE  CROP_YIELD GROWTH_STAGE    PEST_ISSUE
0 2023-06-24 14:37:00    Tomato      111.23     Fruiting        Fungus
1 2023-01-14 00:57:00   Soybean      589.51     Fruiting    Whiteflies
2 2023-03-14 14:40:00     Wheat      986.35   Vegetative        Fungus
3 2023-05-28 18:17:00    Barley      237.98     Fruiting  Caterpillars
4 2022-12-31 10:39:00    Tomato      801.23     Fruiting    Whiteflies

In [67]:
crop.head()

            TIMESTAMP CROP_TYPE  CROP_YIELD GROWTH_STAGE    PEST_ISSUE
0 2023-06-24 14:37:00    Tomato      111.23     Fruiting        Fungus
1 2023-01-14 00:57:00   Soybean      589.51     Fruiting    Whiteflies
2 2023-03-14 14:40:00     Wheat      986.35   Vegetative        Fungus
3 2023-05-28 18:17:00    Barley      237.98     Fruiting  Caterpillars
4 2022-12-31 10:39:00    Tomato      801.23     Fruiting    Whiteflies

In [68]:
sensor.head()

,SENSOR_ID,TIMESTAMP,TEMPERATURE,HUMIDITY,SOIL_MOISTURE,LIGHT_INTENSITY,BATTERY_LEVEL
0,S523,2023-08-22 13:39:14,26.1,50.3,40.4,7988.000000,92.4
1,S189,2023-01-11 18:18:36,28.2,48.1,25.2,6640.000000,87.3
2,S662,2023-02-26 20:56:57,30.4,45.9,31.5,4334.000000,99.3
3,S726,2023-07-21 17:24:46,29.6,59.7,20.6,3715.000000,77.2
4,S102,2023-02-08 01:52:58,30.5,43.2,41.4,5965.492435,95.9

In [69]:
result_df = pd.merge(sensor, crop, on='TIMESTAMP', how='inner')

In [70]:
result_df.shape

(249607, 11)

In [71]:
crop_fix=result_df[['TIMESTAMP','CROP_TYPE','SENSOR_ID','CROP_YIELD']]
crop_fix.size

998428

In [72]:
# chunk_size = 500000

# chunks = [crop_fix[i:i + chunk_size] for i in range(0, len(crop_fix), chunk_size)]

# # Write each chunk to a separate CSV file
# for i, chunk in enumerate(chunks):
#     chunk.to_csv(f'crop_fix{i}.csv', index=False)

In [73]:
# crop

# location

# pest

# sensor

# soil

# weather

In [74]:
# Best location
# location with the least pest
# highest yeild
# crop with hisgest yield

In [75]:
location.head()

  SENSOR_ID    LOCATION_NAME   LATITUDE   LONGITUDE  ELEVATION REGION
0      S614  Location 537069 -20.290687  -76.085154     744.73   East
1      S534  Location 537070   7.836472  -17.116254    1601.59   East
2      S500  Location 537071 -55.465881 -121.322969    2307.28  South
3      S721  Location 537072   7.840443  155.518523    4708.69   East
4      S277  Location 537073  58.713600  -30.183445    4315.49   East

In [76]:
crop.head()

            TIMESTAMP CROP_TYPE  CROP_YIELD GROWTH_STAGE    PEST_ISSUE
0 2023-06-24 14:37:00    Tomato      111.23     Fruiting        Fungus
1 2023-01-14 00:57:00   Soybean      589.51     Fruiting    Whiteflies
2 2023-03-14 14:40:00     Wheat      986.35   Vegetative        Fungus
3 2023-05-28 18:17:00    Barley      237.98     Fruiting  Caterpillars
4 2022-12-31 10:39:00    Tomato      801.23     Fruiting    Whiteflies

In [77]:
sensor.head()

,SENSOR_ID,TIMESTAMP,TEMPERATURE,HUMIDITY,SOIL_MOISTURE,LIGHT_INTENSITY,BATTERY_LEVEL
0,S523,2023-08-22 13:39:14,26.1,50.3,40.4,7988.000000,92.4
1,S189,2023-01-11 18:18:36,28.2,48.1,25.2,6640.000000,87.3
2,S662,2023-02-26 20:56:57,30.4,45.9,31.5,4334.000000,99.3
3,S726,2023-07-21 17:24:46,29.6,59.7,20.6,3715.000000,77.2
4,S102,2023-02-08 01:52:58,30.5,43.2,41.4,5965.492435,95.9

In [78]:
crop_fix.head()

            TIMESTAMP  CROP_TYPE SENSOR_ID  CROP_YIELD
0 2022-12-26 19:17:00       Corn      S119      985.53
1 2022-12-26 19:17:00  Sugarcane      S119      963.40
2 2022-12-14 03:20:00     Cotton      S540      532.14
3 2022-12-14 03:20:00     Barley      S540      910.27
4 2022-12-14 03:20:00     Carrot      S540      682.85

In [ ]:
result_df2 = pd.merge(crop_fix, location, on='SENSOR_ID', how='inner')

In [ ]:
# result_df2.head()

In [80]:
# crop_fix['SENSOR_ID'].nunique()

In [87]:
location.head()

  SENSOR_ID    LOCATION_NAME   LATITUDE   LONGITUDE  ELEVATION REGION
0      S614  Location 537069 -20.290687  -76.085154     744.73   East
1      S534  Location 537070   7.836472  -17.116254    1601.59   East
2      S500  Location 537071 -55.465881 -121.322969    2307.28  South
3      S721  Location 537072   7.840443  155.518523    4708.69   East
4      S277  Location 537073  58.713600  -30.183445    4315.49   East

In [88]:
sensor_location_counts = location.groupby('SENSOR_ID')['LOCATION_NAME'].nunique().reset_index()
sensor_location_counts.columns = ['Sensor', 'Unique_Location_Count']


print(sensor_location_counts)

    Sensor  Unique_Location_Count
0     S001                   2071
1     S002                   2188
2     S003                   2131
3     S004                   2107
4     S005                   2041
..     ...                    ...
994   S995                   2101
995   S996                   2117
996   S997                   1997
997   S998                   2129
998   S999                   2047

[999 rows x 2 columns]

In [89]:
crop_fix.shape

(249607, 4)

In [90]:
crop_fix.to_csv('crop_fix101.csv')

In [91]:
location[location['LOCATION_NAME']=='Location 537069']

        SENSOR_ID    LOCATION_NAME   LATITUDE   LONGITUDE  ELEVATION REGION
0            S614  Location 537069 -20.290687  -76.085154     744.73   East
1053486      S223  Location 537069  -1.544838  109.975854    3000.07   West

In [92]:
location[location['SENSOR_ID']=='S614']

        SENSOR_ID    LOCATION_NAME   LATITUDE   LONGITUDE  ELEVATION   REGION
0            S614  Location 537069 -20.290687  -76.085154     744.73     East
1509         S614  Location 538578  57.155869  135.494074    1540.59     West
2879         S614  Location 539948 -58.292433 -100.117556    2158.60    North
4405         S614  Location 541474  49.555363 -148.273822    4384.00    North
6023         S614  Location 543092  55.936374  156.526162    3836.06  Central
...           ...              ...        ...         ...        ...      ...
2099771      S614  Location 534784  13.913575 -126.298761    1635.60     West
2100880      S614  Location 535893  44.123859   32.730167    1933.86    North
2101033      S614  Location 536046  15.369374   -1.106987    2541.65    South
2101583      S614  Location 536596 -44.575377  127.392515    2151.16    North
2101606      S614  Location 536619  20.781680  121.827215     829.83     East

[2104 rows x 6 columns]